@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900');

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Titillium Web', Arial, sans-serif;
  background: #e8e8e8;
  min-width: 320px;
}
